.target {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 10px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
/* .target-info{} */
/* .target-name {} */
/* .target-price {} */
.target-lacks {
  color: rgba(0, 0, 0, .6);
  margin-top: 5px;
}

/* .target-panel {} */
.target-panel__btn {
  width: 100%;
  margin: 1px;
}
.target-panel__btn:disabled {
  background-color: rgb(179, 179, 179);
  opacity: .5;
}
/* .target-panel__btn-edit {} */
/* .target-panel__btn-delete {} */

.progress-bar {
  width: 90%;
  height: 10px;
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
}
.progress-bar__bar {
  background-color: green;
  width: 17%;
  height: 100%;
}
.progress-bar__bar-25{ background-color: red;}
.progress-bar__bar-90{ background-color: orange;}
.progress-bar__bar-100{ background-color: green;}