.header {
  border-radius: initial;
  background-color: green;
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.header__balance {
  color: white;
  text-align: center;
}
.header__button {
  background-color: darkgreen;
  color: white;
}
