.header {
  border-radius: initial;
  background-color: rgb(37, 37, 37);
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.header__balance {
  color: white;
  text-align: center;
}
.header__button {
  background-color: rgb(20, 20, 20);
  color: white;
}
